<header>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" title="home" class="navbar-item">
                    <img src="/logo_title.png"/>
                </a>
                <a id="navbar-burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menubar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="menubar" class="navbar-menu">
                <div class="navbar-start">
                    {{ range .Site.Menus.main }}
                    <div class="link_nav">
                        <a href="{{ .URL }}" class="navbar-item" data-target="{{ .Name }}">
                            <h2 class="pt-4">{{ .Name }}</h2>
                        </a>
                    </div>
                    {{ end }}
                </div>
                <div class="navbar-end">
                    {{ range .Site.Menus.social }}
                    <a href="{{ .URL }}" class="navbar-item" title="{{ .Name }}">
                        <span class="icon">{{ .Pre }}</span> </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
    <script>
        const burger = document.getElementById('navbar-burger');
        burger.addEventListener('click', () => {
            burger.classList.toggle('is-active');
            document.getElementById(burger.dataset.target).classList.toggle('is-active');
        });
    </script>
</header>